gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java

# Firebase service file
app/google-services.json

# Ignore generated folder by flutter since 3.29.0
/app/.cxx

# Ignore keys
staging.key.properties
prod.key.properties
*.jks
!evm_dev_keystore.jks

